facts.txt

/gdrive
/venv
venv/
SQL/
/SQL
/venv/lib
iheartjanedispoall.txt
training_data.csv
Typesensedipso.txt
# Ignore token.json and client secret files
token.json
client_secret_*.json
*.json

# Ignore generated Python bytecode
*.pyc
__pycache__/
token.json
.env
