facts.txt

/gdrive
/venv
/venv/lib
/iheartjanedispoall
/training_data
/Typesensedipso
# Ignore token.json and client secret files
token.json
client_secret_*.json
*.json

# Ignore generated Python bytecode
*.pyc
__pycache__/
